
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
}

*{
    margin-left: 0;
    margin-top: 0;
}
/* shared styles */
.btn-primary{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    color: #FFFFFF;
}
.btn-secondery{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color:rgba(35, 14, 61, 1);
}
.section-heading{
    font-size: 3.625rem;
    font-weight: 700;
    color: #FFFFFF;
}
.section-description{
    font-size: 1rem ;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 16px;
}
.color-linear{
    color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
    

/* header styles */
/* navbar styles */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 16px 200px;
    background-color: rgba(65, 37, 103, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar h1{
    color: white;
}

.navbar ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
}
/* hero related styles */

.hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: repeat;
    width: 1600px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.image-container{
    width: 550px;
    height: 558px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.bg {
    width: 70%;
}
.overly{
    position:absolute;
    width: 150px;
}
.new{
    position: absolute;
    top: 100px;
    right: 52px;
}
.hero-content{
    margin: 0 auto;
    text-align: center;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}
.hero-content p{
    margin: 8px;
}

.btn {
    gap: 8px;
    margin-top: 24px;
}


/* main styles */
#about{
    max-width: 1600px;
    height: 646px;
}
.about-container {
    padding: 50px 200px 120px 200px;
    background: rgba(26, 11, 46, 1);
}
.about-description{
    text-align: center;
}
.about-description h1{
    margin-bottom: 16px;
}
.about-reating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 80px;
    padding-top: 160px;
    text-align: center;
}
.reating h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
/* choose section related style */

#choose{
    max-width: 1600px;
}
.choose-container{
    padding: 120px 200px;
    background: rgba(35, 14, 61, 1);
}
.choose-container .choose-title h1{
    text-align: center;
}
.choose-info{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#first-card{
    grid-row: span 2;
}
#second-card{
    grid-column: span 2;
}
#third-card{
    grid-row: span 1;
}
.choose-card{
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.choose-card img{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}
.choose-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

/* feature section related style */
#featured{
    max-width: 1600px;
    height: 1276px;
    padding: 120px 200px;
    background-color: rgba(26, 11, 46, 1);
}
#featured .featured-container .heading{
    text-align: center;
    padding: 0px;
}
#featured .episod-links {
    display: flex;
    gap: 30;
}

#featured .episod-links .episod-card .episode-content{ 
    width: 380px;
    height: 226px;
    padding: 24px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 0px 0px 24px 24px;
}
#featured .episod-links .episod-card .episode-content h1{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}
#featured .episod-links .episod-card .episode-content p{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}
#featured .episod-links .episod-card .episode-content span{
    color: #00FF88;
}

#featured .meet-host{
    margin-top: 120px;
    gap: 40px;
}
#featured .meet-host .host-title{
     text-align: center;
}
#featured .meet-host .meet-host-container{
    display: flex;
    padding: 40px;
    gap: 24px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);

}
#featured .meet-host .meet-host-container .host-image{
    width: 200px;
    height: 200px;
}
#featured .meet-host .meet-host-container .host-details h1{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 700;
}
#featured .meet-host .meet-host-container .host-details p{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 16px;
}
#featured .meet-host .meet-host-container .host-details .social-icon{
    gap: 8;
}
#featured .meet-host .meet-host-container .host-details .social-icon a{
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
    border-radius: 100px;
}

/* footer styles */

footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer-container {
    padding: 120px;
    text-align: center;
}
footer .footer-container .footer-logo h1{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 900;
}
footer .footer-container .footer-social {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
}
footer .footer-container .footer-social .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 32px 0;

}

/* media quary related style */
@media screen and (max-width:576px) {
 .about-container{
    width: 440px;
    height: 575px;
    padding: 40px 20px;
    background: rgba(26, 11, 46, 1);
 }
    .about-reating{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}