
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
}

/* shared styles */
.btn-primary{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    color: #FFFFFF;
}
.section-heading{
    font-size: 3.625rem;
    font-weight: 700;
    color: #FFFFFF;
}
.section-description{
    font-size: 1rem ;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 16px;
}
    

/* header styles */
/* navbar styles */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 16px 200px;
    background-color: rgba(65, 37, 103, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar h1{
    color: white;
    border: 1px solid rgba(0, 0, 0, 1);
}

.navbar ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
}
/* hero related styles */
#hero{
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    margin-top: 0px;
}
.hero-container{
    max-width: 550px;
    height: 558px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}

/* main styles */
#about{
    width: 1600px;
    height: 646px;
}
.about-container {
    padding: 50px 200px 120px 200px;
    background: rgba(26, 11, 46, 1);
}
.about-description{
    text-align: center;
}
.about-description h1{
    margin-bottom: 16px;
}
.about-reating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 80px;
    padding-top: 160px;
    text-align: center;
}
.reating h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}


/* footer styles */

/* media quary related style */
@media screen and (max-width:576px) {
 .about-container{
    width: 440px;
    height: 575px;
    padding: 40px 20px;
    background: rgba(26, 11, 46, 1);
 }
    .about-reating{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}